@import "./variables";
.step {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	.icon {
		display: grid;
		place-items: center;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		border: 1px solid $secondary;
		&.done {
			background-color: $secondary;
			border: none;
			color: #fff;
			svg {
				color: #fff;
			}
		}
	}
	span {
		font-size: 14px;
		color: $secondary;
		margin-top: 5px;
		width: 100%;
		font-weight: 700;
	}
}

.divider {
	width: 110px;
	height: 1px;
	background-color: $dark-gray;
	margin: 0 20px;
}
